/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custome style */
body {
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.5;
    
}
 .bg-image {
    background: url("download.jpeg")  no-repeat ;
    background-size: cover;
    
} 

* {
box-sizing: border-box;
}
h1 { 
	font-family: 'Yellowtail', cursive;
	font-size: 56px;
    text-align: center;
	color: crimson;

}
.container {
   margin: 0 auto;
   max-width: 1350px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.section {
    margin-top:40px ;
}
.box {
    height: 300px;
    width: 30%;
    background: coral;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 700;
    
}
p {
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
    font-weight: 700;
}
.box-1{
    background-color: #F64647;
}
.box-2 {
   background-image: linear-gradient(to right,rgb(73,39,38),rgb(155,42,54), rgb(246,69,71) 70%)
}
.box-3 {
    background-image: radial-gradient(rgb(246,69,71) 20%,rgb(134,36,49),#65252B )
}
.section {
    margin-top:20px ;
}
.box-4 {
    margin: 0 auto;
    height: 400px;
    width: 70%;
    border-radius: 15px; 
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,0,0,0.5)),url("pic.png"), no-repeat ;
    background-size: cover;
} 

